{% extends 'mainapp/base.html' %}
{% load static%}


	{% block title %}
        <title>Каталог</title>
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    {% endblock %}


{% block container %}
	<div class="container">
		<div class="hero-white">
			<div class="header clearfix">
				<a href="index.html" class="logo"></a>
				<ul class="menu">
					<li><a href="/" class="active">домой</a></li>
					<li>
					  <a href="{% url 'products:index' %}"
						 class="{% if request.resolver_match.namespace == 'products' %}
								  active
								{% endif %}">
						продукты
					  </a>
					</li>
					<li><a href="{% url 'contact' %}">контакты</a></li>
					{% if user.is_authenticated %}
					<li>
							<a href="{% url 'auth:edit' %}">
								{{ user.first_name|default:'Пользователь' }}
							</a>
					</li>
					{% endif %}
					<li>
						{% if user.is_authenticated %}
						 <a href="{% url 'auth:logout' %}">выйти</a>
						{% else %}
						 <a href="{% url 'auth:login' %}">войти</a>
						 <a href="{% url 'auth:register' %}">регистрация</a>
						{% endif %}
					</li>
				</ul>
				<a href="#" class="search"></a>
				<a href="{% url 'basket:view' %}" class="basket">
				  <span>
					{% if basket %}
					  {{ basket.0.total_cost|floatformat:0 }} руб
					  ({{ basket.0.total_quantity }} шт)
					{% endif %}
				  </span>
				</a>


			</div>
		</div>

		<div class="details">
			<div class="links clearfix">
				<ul class="links-menu">
				  <li>
					<a href="{% url 'products:category' 0 %}"
					   class="{% if request.resolver_match.kwargs.pk == '0' %}
								active
							  {% endif %}">
					  все
					</a>
				  </li>
				  {% for link in links_menu %}
					<li>
					  <a href="{% url 'products:category' link.pk %}"
						 class="{% if request.resolver_match.kwargs.pk|add:'0' == link.pk %}
								  active
								{% endif %}">
						{{ link.name }}
					  </a>
					</li>
				  {% endfor %}
				</ul>
			</div>

			<div class="details-products">
				<div class="details-slider">
					<div class="slider-product">
					  <img src="/media/{{ hot_product.image }}">
					</div>
					<div class="slider-control">
					  <div class="block">
						<a href="#"><img src="/media/{{ hot_product.image }}" alt=""></a>
					  </div>
					  <div class="block">
						<a href="#"><img src="/media/{{ hot_product.image }}" alt=""></a>
					  </div>
					  <div class="block">
						<a href="#"><img src="/media/{{ hot_product.image }}" alt=""></a>
					  </div>
					</div>
				  </div>

				  <div class="description">
					<h3 class="big-bold">{{ hot_product.name }}</h3>
					<h3 class="red">горячее предложение</h3>
					<p class="price">{{ hot_product.price }} <span>руб</span></p>
					<a href="{% url 'basket:add' hot_product.pk %}" class="red-button">
					  заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
					<div class="description-text">
					  {{ hot_product.description }}
					</div>
				</div>
			</div>

			<div class="related">
				<div class="title clearfix">
					<h2>Похожие продукты</h2>
					<a class="explore" href="#">показать все <img src="{% static "img/arrow.png" %}" alt="My image">
				</div>
				<div class="related-products clearfix">
					{% for product in same_products %}

						<div class="block">
						<a href="#">
						  <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
						  <div class="text">
							<h3>{{ product.category.name }}</h3>
							<h4>{{ product.name }}</h4>
							<p>{{ product.description }}</p>
						  </div>
						</a>
					  </div>

					{% endfor %}

				</div>
			</div>
		</div>

		<div class="clr"></div>

	</div>
{% endblock %}

{% block footer %}
	<div class="footer">
        <div class="clearfix">
            <div class="text-footer">
                <h3>контакты</h3>
            </div>
            <div class="text-footer">
                <h3>полезная информация</h3>
            </div>
            <div class="text-footer clearfix">
                <h3>Оставайтесь на связи</h3>
                <p>Подписаться на новости и рассылки</p>
                <form>
                    <input type="email" name="email" placeholder="ваш email">
                    <a href="#"><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i></a>
                </form>
            </div>
        </div>
        <p class="small">&copy; GB 2017</p>
        <div class="social">
            <a href="#" class="social1"></a>
            <a href="#" class="social2"></a>
            <a href="#" class="social3"></a>
            <a href="#" class="social4"></a>
        </div>
        <p class="small">Положения &amp; Условия  /  Конфиденциальность &amp; Cookies</p>
    </div>
{% endblock %}


