{% if user.is_authenticated %}
<li>
    <a href="{% url 'auth:edit' %}">
        {{ user.first_name|default:'Пользователь' }}
    </a>
</li>
{% endif %}
<li>
    {% if user.is_authenticated %}
      <a href="{% url 'auth:logout' %}">выйти</a>
    {% else %}
      <a href="{% url 'auth:login' %}">войти</a>
    {% endif %}
</li>

<a href="{% url 'basket:view' %}" class="basket">
  <span>
    {% if basket %}
      {{ basket.0.total_cost|floatformat:0 }} руб
      ({{ basket.0.total_quantity }} шт)
    {% endif %}
  </span>
</a>